<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
  </head> -->
{% extends "base.html" %}

{% block content %}
  <body>
    <h1>VOOCH is cool</h1>
    <img src="images/VOOCH-logos.jpeg" alt="The VOOCH logo">

    <p>At VOOHC, we’re a community of</p>

    <ul> <!-- changed to list in the tutorial -->
      <li>Users</li>
      <li>Reviwers</li>
      <li>Testers</li>
    </ul>

    <p>working together to keep the out of home creatives alive and accessible, so people worldwide can make an informed choice based on data. We believe this act of human collaboration across an open platform is essential to individual growth and our collective future.</p>

  </body>
{% endblock %}
<!--</html>-->
