{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}
    <!-- Hidden input field for user_type -->
    <input type="hidden" name="user_type" id="user_type" value="">
    <!-- User/Reviewer selection -->
    <label for="login_type">Login as:</label>
    <select name="login_type" id="login_type">
      <option value="" selected disabled>Select User Type</option>
      <option value="user">User</option>
      <option value="reviewer">Reviewer</option>
    </select>
    <p>{{ form.submit() }}</p>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
  </form>

<script>
  // Javascript to set the value of the user_type on the selected option
  document.getElementById('login_type').addEventListener('change', function() {
    const userTypeInput = document.getElementById('user_type');
    const selectedOption = this.value;
    userTypeInput.value = selectedOption;
  });
</script>
{% endblock %}
