{% extends "base.html" %} 

{% block content %}   
    <p>{{ current_user.username }}, please give your input on this artwork</p>
 
    <img src="{{ user_image }}" alt="artwork image" width="1000" height="500">
    <p>The advertsiser wants to communicate.</p>
      <ul>
        <li>New service station opened</li>
        <li>Brand</li>
        <li>Services Offered</li>
        <li>Contact details</li>
      </ul>
    <p>I can get that in 5 -10 seconds</p>
    <form>
      <input type="radio" id="agree" name="agree_artwork" value="Agreed">
      <label for="agree">Agreed</label><br>
      <input type="radio" id="disagree" name="disagree_artwork" value="Disagree">
      <label for="disagree">Disagree</label><br>
    </form>
    <form>
      <label for="cimprove">Can be improved? Let us know:</label><br>
      <input type="text" id="cimprove" name="cimprove" style="width: 70%;height: 100px;"><br>
    </form>
    <div class="rating-box">
      <header>{{ current_user.username }}, please rate the artworks</header>
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <form action="/second_review" target="_blank">
      <input type="submit" value="Tell us what you think" />
    </form>
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
